name: techbistro
description: "Comanda digital para restaurantes."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  flutter_launcher_icons: ^0.14.3
  flutter_svg: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
      - assets/
  fonts:
    - family: Nats
      fonts:
        - asset: assets/fonts/NATS-Regular.ttf

flutter_icons:
  android: true
  ios: true
  image_path: "assets/app_icon.png"
